<div class="container">


<div class= "nav-element">
  <a href="/users/new">Signup</a>
</div>

<div class="nav-element">
  <a href="/users/login">Login!</a>
</div>

<div class="nav-element">
  <form method="post" action="/users/logout?_method=DELETE">

    <button>logout</button>
  </form>
</div>




</div>
