<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <% include ./partials/head.html.ejs %>

</head>

<header>
  <div class="nav">

    <%- include ./partials/nav.html.ejs %>

  </div>



  <div class="welcome">
    <%- include ./partials/welcome.html.ejs %>

  </div>
</header>
<body>

<div class="container">






<div>
  <% if (user) {%>
    <h3>Welcome <%= user.email %></h3>
  <% } %>

  </div
</div>
</div>
</body>
</html>
