<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <% include ./partials/head.html.ejs %>

</head>

<header>
  <div class="nav">

    <%- include ./partials/nav.html.ejs %>

  </div>
</header>
<body>

<div class="container">



  <div>
    <a href="/users/new">Signup</a>
  </div>
  <div>
    <a href="/users/login">Login!</a>
  </div>
  <div>
    <form method="post" action="users/logout?_method=DELETE">
      <button>logout</button>
    </form>
  </div>


  <% if (user) {%>
    <h3>Welcome <%= user.email %></h3>
  <% } %>


  <!-- end container -->
  </div>
</body>
</html>
