<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <% include ./partials/head.html.ejs %>

</head>

<header>
  <div class="nav">

    <%- include ./partials/nav.html.ejs %>

  </div>



  <div class="welcome">
    <%- include ./partials/welcome.html.ejs %>

  </div>
</header>
<body id= "#front-page">
<div class="container">



<h1>The Minamalist </h1>



  </div
</div>
</div>
</body>
</html>
