
body {
  background-image: url("/images/snow.jpeg");

}


.welcome {

  left: 35%;
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'Questrial', sans-serif;

}

.friends-section {

width: 95%;
height: 50%;
border-width: 6px;
border-style: solid;
display: inline-block;
text-align: center;
}

.membersection {

width: 95%;
height: auto;
border-width: 6px;
border-style: solid;
border-color: black;
display: inline-block;
text-align: center;
background-color: white;
}

.individualmember {

  width: 202px;
  height: 202px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  display: inline-block;
  float: left;
  margin: 10px;
  text-align: center;
  background-color: white;

}

.nav {

  position: relative;
  float: right;


}
.nav-element {

  float: left;
  margin: 10px;

}

.float-left {
  float: left;
  margin: 10px;

}

.findfriends {
  width: 95%;
  text-align: center;
}
