

.friends-section {

width: 95%;
height: 50%;
border-width: 6px;
border-style: solid;
border-color: tomato;
background-color: #e83635;
display: inline-block;
}

.membersection {

width: 95%;
height: auto;
border-width: 6px;
border-style: solid;
border-color: #e83635;
display: inline-block;
background-color: tomato;

}

.individualmember {

  width: 350px;
  height: 350px;
  border-width: 3px;
  border-style: solid;
  border-color: #FF6347;
  display: inline-block;
  float: left;

}

.nav {

  position: relative;
  float: right;

}

.welcome {
  text-align: center;
  width: 90%;

}
.nav-element {

  float: left;
  margin: 10px;

}

.float-left {
  float: left;
  margin: 10px;

}

.findfriends {
  width: 95%;
  text-align: center;
}
