<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign up!</title>
  <% include ../partials/head.html.ejs %>

</head>


<header>
  <div class="nav">

    <%- include ../partials/nav.html.ejs %>

  </div>
</header>

<body>
<div class="container">


<h1>Edit Your Profile!</h1>

<form action = "/users/edit?_method=PUT" method="POST">

<div class="container">



  <div>
    <label for="member_name">name</label>
    <input type="text" name="member_name">


  </div>


  <div>
    <label for="email">email</label>
    <input type="text" name="email">



  </div>

  <div>
    <label for="birthday">birthday</label>
    <input type="text" name="birthday">
  </div>







<div class="">


  <input type="submit" value="Submit">
</div>
</div>

</form>

</body>
</html>
