<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign up!</title>
</head>
<body>
<h1>Sign Up page!</h1>
<form action="/users" method="post">
<!-- 
  <div>
    <label for="member_name">member_name</label>
    <input type="text" name="member_name">
  </div> -->

  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

<!--
  <div>
    <label for="birthday">birthday</label>
    <input type="text" name="birthday">
  </div> -->

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="SuBMit">
</form>
</body>
</html>
