<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign up!</title>
  <% include ../partials/head.html.ejs %>

</head>


<header>
  <div class="nav">

    <%- include ../partials/nav.html.ejs %>

  </div>
</header>

<body>
<div class="container">


<h1>Sign Up!</h1>
<form action="/users" method="post">
<!--
  <div>
    <label for="member_name">member_name</label>
    <input type="text" name="member_name">
  </div> -->
<div class="container">

  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

<!--
  <div>
    <label for="birthday">birthday</label>
    <input type="text" name="birthday">
  </div> -->

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <input type="submit" value="SuBMit">

</div>

</form>

</body>
</html>
